.friend_list {
    width: 350px;
    height: auto;
    margin: 0 auto;
}

.item {
    width: 100%;
    height: 50%;
    border: 2px solid gray;
    margin: 10px;
}

.wrapper_content {
    padding: 10px 0 10px 5px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.status__active {
    background-color: green;
}

.status__inactive {
    background-color: red;
}

.avatar {
    border-radius: 10px;
}

.name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    font-family: sans-serif;
    color: black;
}